#Entradas
net Entrada(7) loc = M1;
net Entrada(6) loc = P2;
net Entrada(5) loc = N5;
net Entrada(4) loc = T7;
net Entrada(3) loc = R9;
net Entrada(2) loc = P4;
net Entrada(1) loc = R7;
net Entrada(0) loc = N9;

#Salidas
net Salida(7) loc = P16;
net Salida(6) loc = P15;
net Salida(5) loc = T15;
net Salida(4) loc = T14;
net Salida(3) loc = T13;
net Salida(2) loc = R16;
net Salida(1) loc = R15;
net Salida(0) loc = R14;


#Apagar display
net AN<7> LOC = E11;
net AN<6> LOC = D11;
net AN<5> LOC = C15;
net AN<4> LOC = E15;
net AN<3> LOC = D16;
net AN<2> LOC = E16;
net AN<1> LOC = F16;
net AN<0> LOC = G16;